
html, 
body {
    height: 100%;
	margin: 0;
    width: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #121212;
	color:white ;
}


	.btn{
		background-color: #76d275;
		border-color: #76d275;
		color:black
	}
	
	#infobar{
		position: absolute;;
		bottom:3%;
		right:3%;
	}

	.infolink, .infolink:hover,.infolink:active,.infolink:visited{
		text-decoration: none;
		color:white !important;
	}
	.infolink i:hover{
		color:lightgray !important;
	}




	  /* SLIDER ---------------*/

	  
	  .slider {
		-webkit-appearance: none;
		width: 100%;
		max-width: 100%;
		vertical-align:middle;
		border-radius: 5px;
		background: white;
		outline: none;
		opacity: 1;
		-webkit-transition: .2s;
		transition: opacity .2s;
		
	  }
	  
	  .slider:hover {
		opacity: 1;
	  }
	  
	  .slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		/* background: rgb(37, 36, 36); */
		background: #76d275;
		cursor: pointer;
	  }
	  
	  .slider::-moz-range-thumb {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: rgb(37, 36, 36);
		background: white;
		cursor: pointer;
	  }

	  /* SLIDER-END ------------*/
	  

	  .col-form-label{
		font-weight: bold;
	  }

	.table{color:white}

	.toast{
		position:fixed;
		top:30;
		right:30;
	}

	@media screen and (max-width: 1024px) {

	#stattable{
		font-size: 0.8em;
		white-space: nowrap;
	}

	#controlpanel *{
		font-size:1em;
		white-space: nowrap;
	}

	.spacer{
		display:none
	}

	#infobar{
		position: inherit;
		text-align: center;
		height:5vh;
		margin-bottom: 20px;
	}

	}
	@media screen and (max-width: 400px) {
		.toast{
			width:100vw;
			top:0;
			right:0;
		}

	}